<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet"
            href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/full-width-pics.css') }}">
    </head>
    <body>
        <header>
            <img src="{{ asset('assets/images/bg.jpg') }}" alt="">
        </header>
        <div id="h">
            <div class="container centered">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>Aan de slag met <b>Continuous Delivery</b>.</h1>
                    </div>
                </div>
                <!--/row-->
                <div class="row mt">
                    <div class="col-sm-4">
                        <i class="ion-ios7-monitor-outline"></i>
                        <h3>Ontwikkelen</h3>
                        <img src="{{ asset('assets/images/programming.png') }}" alt="develop-icon">
                    </div>
                    <!--/col-md-4-->
                    <div class="col-sm-4">
                        <i class="ion-ios7-browsers-outline"></i>
                        <h3>Testen</h3>
                        <img src="{{ asset('assets/images/test-icon.png') }}" alt="test-icon">
                    </div>
                    <!--/col-md-4-->
                    <div class="col-sm-4">
                        <i class="ion-ios7-copy-outline"></i>
                        <h3>Deployen</h3>
                        <img src="{{ asset('assets/images/upload-to-cloud.png') }}" alt="deploy-icon">
                    </div>
                    <!--/col-md-4-->
                </div>
                <!--/row-->
            </div>
            <!--/container-->
        </div>
        <!--/.container-->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; Lars Hoevenaar 2017</p>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>