{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div class="container" style="margin-top:50px;">
        <div>Welcome</div>
        <div>
            {{ result }}
        </div>
    </div>
{% endblock %}
